# Activa el motor de reescritura
RewriteEngine on
RewriteBase /serprosep_interno/frontend/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirección de rutas amigables a index.php con parámetro ?dir=
RewriteRule ^index$ index.php [L,QSA]
RewriteRule ^auth$ index.php?dir=auth [L,QSA]
RewriteRule ^login$ index.php?dir=login [L,QSA]
RewriteRule ^empleados$ index.php?dir=empleados [L,QSA]
RewriteRule ^home$ index.php?dir=home [L,QSA]
RewriteRule ^nuevo-empleado$ index.php?dir=nuevo-empleado [L,QSA]
RewriteRule ^importaciones$ index.php?dir=importaciones [L,QSA]
RewriteRule ^carga-masiva-empleados$ index.php?dir=carga-masiva-empleados [L,QSA]

# Página de error personalizada
ErrorDocument 404 /404.html

# Opciones de seguridad y limpieza
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

# Evitar mostrar archivos
IndexIgnore *.css *.map *.js *.png *.jpg *.wmv *.mp4 *.avi *.etc
